.navbar {
  background-color: #ffe5da;
  position: sticky;

  .nav-item {
    .nav-link {

      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;

      &:hover {
        transform: scale(1.05);
        text-decoration: none;
      }
    }
  }
}


.nav-bar-text-decoration :hover {
  transform: scale(1.05);
  text-decoration: none;
}